################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EfCoreMigrationDemo/EfCoreMigrationDemo.Data/bin/Debug/netcoreapp3.1
